﻿@model Inlämning_1___Blog.Models.Posts;
@{
    ViewData["Title"] = "CreatePost";
}

<h1>CreatePost</h1>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<form asp-controller="Home" asp-action="CreatePost" method="post">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input type="text" asp-for="Title" maxlength="200" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Summary">Summary</label>
        <input type="text" asp-for="Summary" maxlength="200" />
    </div>

    <div class="form-group">
        <label asp-for="Content">Content</label>
        <textarea asp-for="Content"></textarea>
        <span asp-validation-for="Content"></span>
    </div>

    <div class="form-group">
        <div class="form-group-flex">
                <label class="v-align-mid" asp-for="CategoryId">Category</label>
            <div class="form-group-inner">
                <select asp-for="CategoryId">
                    @foreach (var category in @ViewBag.Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group-inner">
                <input class="savepost" type="submit" value="Save" />
            </div>
        </div>
    </div>

</form>