﻿@model Inlämning_1___Blog.ViewModels.PostViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />

@if (ViewBag.FlashMessage != null)
{
    <h3>ViewBag.FlashMessage</h3>
}

<form class="searchbar-form" asp-controller="Home" asp-action="Search">
    <input type="text" class="search searchbar-input-text" asp-for="SearchValue" placeholder="Search.." />
    <input type="submit" class="search searchbar-input-submit" value="" />
</form>

<div class="article-container-all">
    @foreach (var post in Model.Posts)
    {
        <div class="article-container">
            <div class="article-container-header">
                <a asp-action="ViewPost" asp-route-id="@post.Id"><span class="article-title">@post.Title</span></a><span>@post.Postdate.ToString()</span>
            </div>
            <p>@post.Summary</p>
        </div>
    }
</div>

@*<ul class="list-group">
    @foreach (var post in Model.SelectedPosts)
    {
        <li class="list-group-item flex-list-item"><a asp-action="ViewPost" asp-route-id="@post.Id"><span>@post.Title</span></a><span>@post.Postdate</span></li>
    }
</ul>*@
