﻿
@{
    ViewData["Title"] = "Search";
}

<div class="article-container-all">
    @foreach (var post in Model.SearchedPosts)
    {
        <div class="article-container">
            <div class="article-container-header">
                <a asp-action="ViewPost" asp-route-id="@post.Id"><span class="article-title">@post.Title</span></a><span>@post.Postdate.ToString("g")</span>
            </div>
            <p>@post.Summary</p>
        </div>
    }
</div>