﻿@model Inlämning_1___Blog.ViewModels.SinglePostViewModel;
@{
    ViewData["Title"] = "ViewPost";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Error
    </div>
}

<h1 class="post-title">@Model.Post.Title</h1>
<p class="post-content">@Model.Post.Content</p>

@{
    if (Model.Category != null)
    {
        <p>Posted in the category: <a asp-action="ViewCategory" asp-route-id="@Model.Category.CategoryId">@Model.Category.CategoryName</a></p>
    }
}

<form class="text-align-right margin-top-2" asp-controller="Home" asp-action="DeletePost" asp-route-id="@Model.Post.Id" method="post">
    <input class="delete-post" type="submit" name="DeletePost" value="Delete post" />
</form>
