﻿/*/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/************************** STOCK **************************/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    margin-top:3em;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/********************** CUSTOM **********************/

p {
    margin: 0;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:visited, a:hover {
    text-decoration: none;
    color:#444;
}

html, body {
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding:0;
}

.header {
    box-sizing:border-box;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0 2em;
    width: 100%;
    height: 10vh;
    background: #fff;
    -webkit-box-shadow: 0px 12px 36px -17px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 12px 36px -17px rgba(0,0,0,0.4);
    box-shadow: 0px 12px 36px -17px rgba(0,0,0,0.4);
}

nav {
    text-align: center;
    z-index: 998;
    width: 100%;
    background: #fff;
    padding: 1em 0;
    /* Inset */
    -webkit-box-shadow: inset 0px 12px 8px -11px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 12px 8px -11px rgba(0,0,0,0.4);
    box-shadow: inset 0px 12px 8px -11px rgba(0,0,0,0.4);
    /* Outline */
    -webkit-box-shadow: 0px 8px 36px -17px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 8px 36px -17px rgba(0,0,0,0.4);
    box-shadow: 0px 8px 36px -17px rgba(0,0,0,0.4);

    margin-bottom:5em;
}

    nav ul {
        list-style:none;
        margin:0;
    }

    .nav-item {
        display:inline-block;
    }

    .nav-item a {
        padding:0 1em;
        font-size:1.5em;
    }

        .nav-item a:hover {
            text-decoration:underline;
        }

/*.sub-nav {
    background: #e5e5e5;
    /*margin: -1rem 0 1rem 0;*/
    text-align: center;
    padding: 1em;
    -webkit-box-shadow: inset 0px 12px 8px -11px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 12px 8px -11px rgba(0,0,0,0.4);
    box-shadow: inset 0px 12px 8px -11px rgba(0,0,0,0.4);
}*/

    .sub-nav a {
        margin:0.5rem;
    }

.container {
    margin:0 auto;
    width:60%;
    min-width:660px;
}

.article-container {
    padding:2em;
    border:1px solid lightgrey;
    border-radius:0.5em;
    margin-bottom:2em;
}

.article-container-header {
    display:flex;
    justify-content:space-between;
    margin-bottom:1em;
    border-bottom:1px solid lightgray;
}

    .article-container-header a {
        font-size:1.7em;
    }

    .article-title {
        font-weight:700;
    }

.flex-list-item {
    display: flex;
    justify-content: space-between;
}

/********************** BLOG FORM **********************/

form {
    width:100%;
}

    label {
        display:block;
        font-size:1.3em;
    }

form input, form textarea, select {
    width: 100%;
    padding: 0.7em;
    border: 1px solid #b6b6b6;
    border-radius: 0.5em;
    /*margin-bottom:1em;*/
    font-size: 1.3em;
    box-sizing:border-box;
}

form textarea {
    height: 15vh;
}

.searchbar-form {
    width:100%;
    font-size:1rem;
    margin-bottom:2em;
    text-align:right;
}

    .searchbar-form > input {
        display:inline-block;
        box-sizing:border-box;
        padding:0.5em;
    }

    .searchbar-input-text {
        max-width:300px;
    }

    .searchbar-input-submit {
        background: url("/img/search-icon.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        padding: 0.5rem;
        background-position: center;
        width: 3rem;
    }

.post-content {
    margin-bottom:2em;
}

.form-group {
    margin-bottom:2em;
}

    .form-group > label:first-child {
        margin-bottom:0.3em;
    }

.field-validation-error {
    margin-top:0.5em;
    color:darkred;
    font-weight:500;
    font-size:1.1em;
}

.input-validation-error {
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.7) !important;
}

.form-group-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

    .form-group-flex > div {
        margin-left:1em;
    }

    .v-align-mid {
        vertical-align:middle;
    }

    .savepost {
        min-width:6em;
    }

.delete-post {
    max-width: 110px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    font-size:1rem;
}

.text-align-right {
    text-align:right;
}

.margin-top-2 {
    margin-top:2em;
}